<!-- templates/layout/default.html -->
<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="layout(title, content, headExtra, activeTop)">

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Omniora</title>

    <link rel="stylesheet" th:href="@{/css/tailwind.css}">       <!-- 베이스/유틸 제공 -->
    <link rel="stylesheet" th:href="@{/css/app.css}">           <!-- 프로젝트에서 필요한 것만 덮어쓰기 -->

    <!-- 페이지별 head 확장 영역 -->
    <th:block th:if="${headExtra != null}">
        <th:block th:replace="${headExtra}"></th:block>
    </th:block>

</head>

<body>

<div class="om-layout-root">
    <div th:replace="~{fragments/header :: siteHeader(${activeTop})}"></div>

    <main class="om-layout-main">
        <div th:replace="${content}"></div>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</div>

</body>
</html>